.d-h4{
    background: #529e52;
    padding: 43px;
    color: white;
    font-size: 31px;
    border-radius: 29px;
    margin-left: 241px;
    margin-top: 86px;
}
.d-h41{
    background: #9d401b;
    padding: 43px;
    color: white;
    font-size: 31px;
    border-radius: 29px;
    margin-left: 21px;
    margin-top: 86px;
}
.btnad{
    width: 177px;
    height: 56px;
    font-size: 24px;
    font-weight: 800;
    border-radius: 29px;
}
